- if challenges.count == 0
  .zero-items-text No Challenges
- else
  - max = 0
  - is_admin = current_user.admin?
  %table.table.table-bordered
    %thead
      %tr
        %th{:style => "text-align:left;width:#{1.0 / (@challenges.count+1).to_f * 100.0}%;"}= "Teams"
        - @categories.count.times do |i|
          - @categories[i].challenges.each do |c|
            %th{ :style => "text-align:center;width: auto" }= c.name
            - if is_admin
              - max = players.count
            - else
              - max = 1
    %tbody
      - max.times do |row|
        %tr
          - if is_admin
            %td= players[row].display_name
          - else
            %td= players.display_name
          - @categories.count.times do |i|
            - @categories[i].challenges.count.times do |column|
              - challenges = @categories[i].challenges
              - if column < challenges.count
                - challenge = challenges[column]
                - is_solved = false
                - style = "text-align:center;"
                - if is_admin
                  - is_solved = challenge.solved?
                - else
                  - is_solved = challenge.solved_by_user?(current_user)
                - if challenge.force_closed?(division) && challenge.solved?
                  - style << "color:DarkOrange;"
                - elsif challenge.force_closed?(division)
                  - style << "color:red;"
                - elsif is_solved
                  - style << "color:#08C;"
                - else
                  - style << "color:green;"
                %td{ style: style }= link_to challenge.point_value, challenge, style: "color:inherit;"
              - else
                %td &nbsp;
